.background
    width: 1270px
    height: 700px
    border-bottom: 5px solid black

.post-background /* does the opacity */
    width: 520px
    height: 620px
    background-color: #A7C1EB /* light blue */
    opacity: 0.8
    border-radius: 5px
    border: 2px solid navy

.post
    padding-right: 10px
    font-family: 'Georgia'
    color: black
    margin: 10px
    width: 500px
    height: 600px
    overflow: auto

a.original-recipe
    text-decoration: none

a.original-recipe:hover
    font-style: italic
